<header>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo"><a href="homepage">ABC</a></h1>
            <ul>
                {{!-- <li><a {{action 'generateReport' }}>Reports</a></li>
                <li><a id="open" {{action 'modal' }}><span class="material-symbols-outlined">person_filled</span></a>
                </li> --}}
                <li><a {{action 'Logout' }}>Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
